<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title>Xmovie</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="/css/ionic.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>


  <ion-tabs class="tabs-icon-top">
    <ion-tab title="Filmes" icon="ion-home" href="#/tab/home">
      <ion-nav-view></ion-nav-view>
      <!-- <ion-nav-view name="movie-detail"></ion-nav-view> -->
    </ion-tab>

    <ion-tab title="Preços" icon="ion-star" href="">
      <ion-nav-view></ion-nav-view>
    </ion-tab>

    <ion-tab title="Config" icon="ion-gear-a" href="#/tab/home">
      <ion-nav-view></ion-nav-view>
    </ion-tab>
  </ion-tabs>
    
    <script src="/js/ionic.bundle.min.js"></script>
    <script src="/modules.js"></script>
    <script src="/routes.js"></script>
    <script src="/services.js"></script>
    <script src="/controller.js"></script>
  </body>
</html>