<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title>Xmovie</title>
    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="/css/ionic.min.css">
  </head>
  <body>
    <div ng-controller="MoviesController as ctrl">
      <ion-content>
      <div class="list">
        <a ng-repeat="movie in ctrl.moviesList" href="" class="item item-thumbnail-left" >
          <img ng-src="{{movie.Img}}">
          <h2>{{movie | json}}</h2>
          <p>{{movie.Horarios.hour}}</p>
        </a>
      </div>
      </ion-content>
      <ion-tabs class="tabs-icon-top">
      <ion-tab title="Filmes" icon="ion-home" href="#/tab/home">
      <ion-nav-view name="home-tab"></ion-nav-view>
      </ion-tab>
      <ion-tab title="Preços" icon="ion-star" href="#/tab/home">
      <ion-nav-view name="home-tab"></ion-nav-view>
      </ion-tab>
      <ion-tab title="Config" icon="ion-gear-a" href="#/tab/home">
      <ion-nav-view name="home-tab"></ion-nav-view>
      </ion-tab>
      </ion-tabs>
    </div>
    <script src="/js/ionic.bundle.min.js"></script>
    <script src="/modules.js"></script>
    <script src="/services.js"></script>
    <script src="/controller.js"></script>
  </body>
</html>