<ion-view title="Preços">
<ion-content has-tabs="true" >
<br>
<table class="table table-striped">
	<tbody>
		<tr>
			<td class="col-xs-4"><b>3D Matine</b></td>
			<td><span style="float: right">{{price[0]}}</span></td>
		</tr>
		<tr>
			<td><b>3D Normal</b></td>
			<td><span style="float: right">{{price[1]}}</span></td>
		</tr>
		<tr>
			<td><b>Antes 17h59</b></td>
			<td><span style="float: right">{{price[2]}}</span></td>
		</tr>
		<tr>
			<td><b>Após 18h00</b></td>
			<td><span style="float: right">{{price[3]}}</span></td>
		</tr>
	</tr>
</tbody>
</table>
</ion-content>
</ion-view>